{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": "warn",
    "spaced-comment": ["error", "always"]
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": ["react"],
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"]
}
