.item {
  margin: 15px;
  border-radius: 3px;
  background-color: blanchedalmond;
}

.highlight {
  font-size: 25px;
}

a {
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.notes {
  font-size: 20px;
}